.line {
  margin: 0 auto;
  display: block;
  width: 80%;
  height: 1px;
  background: -moz-linear-gradient(
    left,
    rgba(30, 87, 153, 0) 0%,
    #545454fa 50%,
    #545454fa 51%,
    rgba(225, 228, 226, 0) 99%,
    rgba(229, 229, 229, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    rgba(30, 87, 153, 0) 0%,
    #545454fa 50%,
    #545454fa 51%,
    rgba(225, 228, 226, 0) 99%,
    rgba(229, 229, 229, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgba(30, 87, 153, 0) 0%,
    #545454fa 50%,
    #545454fa 51%,
    rgba(225, 228, 226, 0) 99%,
    rgba(229, 229, 229, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.selected {
  color: rgba(0, 0, 0, 0.7) !important;
  font-weight: 600;
}
.brandTitle a {
  text-decoration: none;
  color: black;
}
.menuBox {
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 5px 10px;
  margin: 0px 10px;
}
.loc {
  position: absolute;
  right: 0%;
}
