.carouselImg {
  width: 100% !important;
  height: 300px !important;
  object-fit: cover !important;
}

.cardsSection {
  display: flex;
  justify-content: space-evenly;
}

.homeCards {
  margin: auto;
}
